In [ ]:
# TASK: How to use xml schema for reading XML file format

In [1]:
# AVAANDMED
# https://riigihanked.riik.ee/rhr-web/#/open-data
# source https://stackoverflow.com/questions/28259301/how-to-convert-an-xml-file-to-nice-pandas-dataframe

In [20]:
import pandas as pd
import xml.etree.ElementTree as ET
import io

In [51]:
# Work Block 1

xml_str = '<?xml version="1.0" encoding="utf-8"?>\n<response>\n <head>\n  <code>\n   200\n  </code>\n </head>\n <body>\n  <data id="0" name="All Categories" t="2018052600" tg="1" type="category"/>\n  <data id="13" name="RealEstate.com.au [H]" t="2018052600" tg="1" type="publication"/>\n </body>\n</response>'

etree = ET.fromstring(xml_str)
dfcols = ['id', 'name']
df = pd.DataFrame(columns=dfcols)

for i in etree.iter(tag='data'):
    df = df.append(
        pd.Series([i.get('id'), i.get('name')], index=dfcols),
        ignore_index=True)

df.head()

   id                   name
0   0         All Categories
1  13  RealEstate.com.au [H]

In [48]:
# Work Block 2

root = ET.parse('test.xml').getroot()

tags = {"tags":[]}
for elem in root:
    tag = {}
    tag["Id"] = elem.attrib['Id']
    tag["TagName"] = elem.attrib['TagName']
    tag["Count"] = elem.attrib['Count']
    tags["tags"]. append(tag)

df_users = pd.DataFrame(tags["tags"])
df_users.head()

  Id      TagName Count
0  1     bayesian  4699
1  2        prior   598
2  3  elicitation    10
3  5  open-source    16